<section id="prihlaska" class="section apply">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h2 class="apply__title section__title">Rozhodnuté? Prihlás sa! Najneskôr do {{ deadline }}</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-6">
      <p>Finálna skupinka bude pozostávať z max 18 účastníkov starších ako 18 rokov.</p>
      <p> 
        <strong>Termín kurzu</strong> je {{ date }}.
      </p>
      <div class="pricebox">
        <p class="no-margin">Poplatok za kurz je</p>
        <p class="pricebox__price">{{ price }} &euro; ({{ price2 }} &euro;)</p>
        <p>
          Ak sa prihlásiš do 31.10.2021, cena za kurz je 140 € <br>
          Ak sa prihlásiš od 1.11. do 20.11.2021, cena za kurz je 160 €
        </p>
        <p>V cene máš teplú stravu na pobytovej časti a zapožičanie snežníc, hradíme z nej dopravu a nákup materiálu potrebného pre kurz a prenájom lokality. My, inštruktori, sme dobrovoľníci. Kurz je neziskový a poplatok nám pokrýva náklady. Ak je cena pre teba jedinou prekážkou v prihlásení, <a href="https://plusko.net/dotacia/">požiadaj Plusko o dotáciu</a>.</p>
        
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <p>Ak sa chceš prihlásiť:</p>
      <ol>
        <li>Do <strong>{{ deadline }}</strong> vyplň prihlášku s informáciami o sebe (link nižšie)</li>
        <li>Zaplať zálohu (inštrukcie v prihláške)</li>
        <li>Počkaj si na potvrdenie účasti - v prípade, že bude po ukončení prihlasovania viac prihlásených záujemcov ako miest na kurze, vyberieme finálnu skupinku a dáme ti vedieť</li>
      </ol>
      <a href="{{ formlink }}" title="Prihláška (nové okno)" class="button large expanded apply__cta" target="_blank">Vyplniť prihlášku</a>
      <p>Ak ti napadne akákoľvek otázka, ozvi sa na <strong>{{ contactmail }}</strong> alebo {{ contactphone }}.</p>
    </div>
  </div>
</section>