{% set year = '2018' %}
{% set date = '26. január – 2. február 2019' %}
{% set altdate = '9.2.–16.2. 2019' %}
{% set deadline = '10. 11. 2018' %}
{% set formlink = 'https://docs.google.com/forms/d/e/1FAIpQLSckmctTpfxUstneKd9qB8SHSywq5oUMZQwkX85dCqZ2O3qhoA/viewform' %}
{% set contactperson = '' %}
{% set contactmail = 'info.zimnykurz@plusko.net' %}
{% set contactphone = '0907 024 114' %}
{% set price = '155' %}
{% set fb_event = 'https://www.facebook.com/events/1825912444112115/' %}

{% extends "_layout.common.twig" %}

{% block title %}Cestou Zimy, zimný kurz Pluska{% endblock %}

{% block page %}

	<section class="section intro">
		<div class="intro__inner">
			<div class="intro__bg"></div>
			<div class="intro__textpart">
				<h1 class="intro__title">Cestou Zimy</h1>
				<h2 class="intro__subtitle">Zimný kurz od <a href="http://plusko.net/" target="_blank" title="Mládežnícka organizácia Plusko"><img src="/dist/images/logo-plusko.png" alt="Logo Mládežníckej organizácie Plusko" class="intro__organizerlogo"></a></h2>
				
				<p class="intro__date">{{ date }} <br>Veľká Fatra</p>
				<p class="intro__altdate">Záložný termín: {{ altdate }}*</p>
				<p class="intro__altdatexplain">* využijeme iba v prípade <br>nevyhovujúceho počasia</p>
				<p><a href="#okurze" class="button">Zisti viac</a></p>
			</div>
			<div class="intro__imgpart"></div>
		</div>
	</section>

<div class="contentwrap">
	<section id="okurze" class="section about">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 medium-6">
				<p class="about__claim">
					Osem dní. Vonku a iba s tým, čo si nesieš na chrbte, s tým, čo si nesieš v sebe. Život bez nánosov civilizácie.
				</p>
			</div>
			<div class="cell small-12 medium-6">
				<h3>Čo ťa čaká?</h3>
				<p>
					Nie je to kurz prežitia. Napriek tomu si zažiješ mráz až na kosť. Overíš si, že telo sa so zimou vysporiada po svojom. A možno tak ako my odhalíš svojské čaro zimy. Cez skrehnuté prsty, studené nohy či zmrznutý spacák;) 
				</p>
				<p>
					Naučíme ťa, ako fungovať v zimných podmienkach, no nezostaneme len pri tom. Cestou Zimy je zážitkový kurz. V tichej zimnej krajine ti tak dáme priestor zamyslieť sa nad svojimi hodnotami.
				</p>
				{# Cestou Zimy je zážitková akcia mládežníckej organizácie Plusko. Naučíš sa zručnosti potrebné pre putovanie v zime a zimné táborenie - ako inak, na vlastnej koži. Naviac ti dáme možnosť ďaleko od civilizácie popremýšľať o tvojich životných hodnotách. Nebudeme totiž celý čas iba stavať iglú. Očakávaj aj bloky zamerané na to, čo je pre teba v živote dôležité. Skrátka ti nedáme pokoj! #}
			</div>
		</div>
	</section>

	<section class="section grid-x grid-padding-x quotes">
		<div class="cell small-12 medium-6 large-4">
			<p class="quotes__quote">
				"Zistil som, že sa dá pomerne komfortne existovať aj v priamom dotyku so Zimou. Len treba poznať (<span class="text-strike">zopár</span> … asi je ich viac) správnych ťahov - po ich použití Zima odkryje svoju krásnu tvár."
			</p>
		</div>
		<div class="cell small-12 medium-6 large-4">
			<p class="quotes__quote">
				"Pre mňa tento kurz bol hlavne o tom, že aha ako málo ma robí šťastným a reflektoval to na svoj bežný život, čo chcem zmeniť a prečo."
			</p>
		</div>
		<div class="cell small-12 medium-6 large-4">
			<p class="quotes__quote">
				"Zimný Zážitok s veľkým Z :-)"
			</p>
		</div>
		<div class="cell">
			<p>— účastníci kurzu</p>
		</div>
	</section>

	<section class="section how">
		<div class="grid-x grid-padding-x">
			<div class="cell">
				<h3 class="section__title">Ako to bude prebiehať?</h3>
			</div>
		</div>
		<div class="courseparts">
			<div class="courseparts__part coursepart">
				<h4 class="coursepart__title">Prípravná fáza</h4>
				<div class="coursepart__textpart">
					<p>Hoci samotný kurz začne až v januári, <strong>jeho súčasťou je aj cca dvojmesačná prípravná fáza</strong>, ktorá začne už <strong>v novembri</strong>. Dáme ti niekoľko individuálnych aj skupinových výziev, ktoré ťa lepšie pripravia na to, čo príde na kurze. Bude len na tebe ako sa ich zhostíš. </p>
					<p><strong>Komunikovať budeme cez e-mail</strong> (asi raz týždenne okrem vianočných sviatkov - budeme potrebovať, aby si mal/a v tomto čase prístup k e-mailom)</p>
				</div>
			</div>
			<div class="courseparts__part coursepart">
				<h4 class="coursepart__title">Putovná časť</h4>
				<div class="coursepart__textpart">
					<p>Vydáš sa s batohom na chrbte v skupine podobne naladených ľudí na <strong>putovanie zimnou krajinou</strong>. Spávať budeš v stane pod zimnou hviezdnou oblohou, naučíš sa pohybovať na snežniciach a fungovať v mínusových teplotách. </p>
					<p>Ale neboj sa - nie je to kurz prežitia. Na trojdňové putovanie plynule nadviaže pobytová časť.</p>
				</div>
			</div>
			<div class="courseparts__part coursepart">
				<h4 class="coursepart__title">Pobytová časť</h4>
				<div class="coursepart__textpart">
					<p>Počas dňa sa už <strong>nebudeme presúvať, v noci spíme v stanoch na jednom mieste</strong>. K dispozícii bude poľná kuchyňa (zabezpečujeme teplú varenú stravu počas celého dňa) a prístrešok. </p>
					<p>Tieto dni si čo najviac denného svetla vychutnáme <strong>aktivitami vonku</strong> pri teplotách, ktoré majú pred číslom znak mínus;) Dostaneš možnosť zamyslieť sa nad svojimi hodnotami a môže sa stať, že tvoj život sa potom zmení.</p>
				</div>
			</div>
		</div>
	</section>

{# </div> #}
		<section class="section coursegallery">
			<div class="coursegallery__gallery">
				<div class="gallery">
					<div class="grid-sizer"></div>
					<a href="/gallery/cestouzimy-17.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-17.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-203.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-203.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-229.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-229.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-564.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-564.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-4.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-4.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-248.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-248.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-276.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-276.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-393.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-393.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-502.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-502.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-209.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-209.jpg" alt=""></a>
					<a href="/gallery/cestouzimy-553.jpg" class="gallery__item"><img src="/gallery/thumbs/cestouzimy-553.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-10.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-10.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-11.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-11.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-16.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-16.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-18.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-18.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-6.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-6.jpg" alt=""></a>
					<a href="/gallery/zimnykurz-8.jpg" class="gallery__item"><img src="/gallery/thumbs/zimnykurz-8.jpg" alt=""></a>
					<a href="/gallery/zk_put-6204.jpg" class="gallery__item"><img src="/gallery/thumbs/zk_put-6204.jpg" alt=""></a>
					<a href="/gallery/zk_put-6372.jpg" class="gallery__item"><img src="/gallery/thumbs/zk_put-6372.jpg" alt=""></a>
					<a href="/gallery/zkpredslapka-70.jpg" class="gallery__item"><img src="/gallery/thumbs/zkpredslapka-70.jpg" alt=""></a>
				</div>
			</div>
		</section>
{# <div class="contentwrap"> #}
	<section class="section need">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 medium-4 large-5">
				<h3>Čo budeš potrebovať?</h3>
				<p>
					<ul>
						<li>aspoň priemernú kondičku</li>
						<li>vek minimálne 18 rokov</li>
						<li>poctivú prípravu</li>
					</ul>
				</p>
				<p>V dokumente nižšie nájdeš zoznam odporúčanej výbavy a tipy&triky od inštruktorov a bývalých účastníkov. Prejdi si ho už teraz.</p>
				<p><a href="/files/material-cestou-zimy-2015.pdf" class="button" target="_blank">Stiahni si zoznam výbavy v pdf</a></p>
				<p><strong>Neboj, to zvládneš.</strong> Trpieť ťa nenecháme a napriek zime a snehu sa budeme aj baviť :)</p>
			</div>
			<div class="cell small-12 medium-4 large-2">
				<img src="/dist/images/stromky_s_macom.gif" alt="" class="need__illustration">
			</div>
			<div class="cell small-12 medium-4 large-5">
				<p>
					Pravdepodobne zistíš, že mnoho vecí ti chýba. Vieme, že pozháňať výbavu nie je maličkosť (ani finančná), preto odporúčame:
					<ul>
						<li><strong>pýtať sa kamošov v okolí</strong> - väčšina vecí sa dá požičať (zvlášť ak nevieš, či ťa zimné akcie do budúcnosti chytia)</li>
						<li><strong>objednať u ježiška</strong> - niektoré veci nepožičiaš (napr. topánky, termoprádlo), no tvoja účasť na kurze bude jasná už pred Vianocami. Môžeš to využiť a nechať si niečo dodať pod stromček</li>
						<li><strong>ozvi sa nám</strong> - niečo vieme požičať aj my (prípadne Plusko), vieme ti dať aj kontakty na požičovne výbavy</li>
					</ul>
				</p>
				<p>Na kurze fungujeme v malých skupinkách. Veci ako stan, jedlo či náradie si budete môcť v rámci nich rozdeliť.</p>
			</div>
		</div>
	</section>
</div> {# /.contentwrap #}

<hr>

<div class="contentwrap">
	<section id="tim" class="section team">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12">
				<p class="section__intro">
					Na kurze ťa bude sprevádzať tím skúsených inštruktorov zážitkovej pedagogiky. Všetci sme dobrovoľníci Mládežníckej organizácie Plusko a niektorí sme v tíme od počiatkov kurzu v roku 2013.
				</p>
			</div>
		</div>
		<div class="profiles grid-x">
			<div class="cell small-12 medium-5 large-5 grid-y">
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--zuzka">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Zuzka</h4>
						<p class="profile__bio">Zuzka pracuje aj býva v Bratislave, ale srdcom a každou voľnou chvíľou je na horách. Tam obľubuje najmä vysokohorský beh, cyklistiku a lezenie. Zime sa určite nevyhýba, skôr ju vyhľadáva a nikdy nesmie chýbať skialp a turistika. Minulý rok jej zimný kurz tak učaroval, že už sa nevie dočkať toho ďalšieho</p>
					</div>
				</div>
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--fresh">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Fresh</h4>
						<p class="profile__bio">Fresh je so zimou skutočne kamarát. Slabšiu kondičku programátora nahrádza pevnou vôľou, ktorá ho potlačí, keď si dá telo pauzu. Pred ôsmimi rokmi zistil, že od októbra do februára je na jazerách menej ľudí, preto vymenil slnečník a opaľovací krém za sekeru a termosku s čajom :)</p>
					</div>
				</div>
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--kika">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Kika</h4>
						<p class="profile__bio">Kika pracuje vo filmovom priemysle. Keď nepracuje, tak si naplno vychutnáva chvíle voľna v prírode v ktoromkoľvek ročnom období. Takto sa dostala na zimný kurz, ktorý si naplno užila, a so zimou je kamarátka. Veľmi sa teší, že môže byť súčasťou tejto akcie.</p>
					</div>
				</div>

				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--ada">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Aďa</h4>
						<p class="profile__bio">Aďa je človek, s ktorým sa dá vždy porozprávať, a to hneď v niekoľkých jazykoch. Jej srdcovkou je Choč a v Bratislave ju stretnete zásadne na bicykli. Adina pozitívna energia je toho druhu, ktorý neuhasne ani v tej najväčšej zime.</p>
					</div>
				</div>
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--peto">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Peťo</h4>
						<p class="profile__bio">Peťo si zimu obľúbil už od malička, kedy ju prežíval na rozmedzí Kremnických a Štiavnických vrchov. Najradšej má, keď je zima krátka, no poriadne tuhá. Vo svojej profesionálnej kariére sa vybral cestou webového vývojára. Zimná turistika mu učarovala na zimnom kurze v roku 2013, okrem nej má veľmi rád históriu, remeselné pivo a stolný futbal.</p>
					</div>
				</div>
				
			</div>
			<div class="cell small-12 medium-2 large-2">
				{# panak #}
			</div>
			<div class="cell small-12 medium-5 large-5 grid-y">
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--riso">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Rišo</h4>
						<p class="profile__bio">Rišo je decembrové dieťa s pozitívnym vzťahom k zime. Dlhoročný Plusácky inštruktor, účastník ZIKu 2009 a ZDrSEMu 2012 si overil na vlastnej koži, že to, čo trvá v rámci zážitkovej pedagogiky v lete dva týždne, dosiahnete s účastníkmi v zime za kratší čas.</p>
					</div>
				</div>
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--arny">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Arny</h4>
						<p class="profile__bio">Arny je vášnivý ITčkar ktorý si užíva počítačovú (ne)gramotnosť ľudí zo strany supportu. Napriek teplomilnej povahe sa pred pár rokmi prekonal a objavil čaro zimy. Pripojil sa do tímu Zimného kurzu, kde okrem svalov prináša aj znalosti z kurzu prvej pomoci ZDrSEM.</p>
					</div>
				</div>
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--lula">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Lula</h4>
						<p class="profile__bio">Lula trávi najviac svojho času na sociálnych sieťach alebo čítaním o nich, keďže to je jej živobytie. So zimou sa snaží skamarátiť a za posledných pár rokov už pochopila, že veľa je to o hlave a nastavení sa na zimu pozitívne. Tento rok tvorí support na pobytovej časti a už sa nevie dočkať tejto výzvy a dobrodružstva.</p>
					</div>
				</div>
				<div class="cell profiles__profile profile">
					<div class="profile__imgpart profile__imgpart--kubo">
					</div>
					<div class="profile__textpart">
						<h4 class="profile__name">Kubo</h4>
						<p class="profile__bio">Kubo je v mnohom neskúsený ale o to viac nadšený, študent 4. ročníka na bilingválnom gymnáziu v Banskej Štiavnici. Odpor voči zime prekonal až minulý rok, vďaka studeným sprchám, a odvtedy skúša hľadať všetky jej krásy. Práve chuť skúšať nové veci, a prekonávať sám seba ho naviedli k tomu aby sa pripojil do tímu zimného kurzu.</p>
					</div>
				</div>
				
			</div>



			{# <div class="profilecol">
			</div>
			<div class="profilecol">panak</div>
			<div class="profilecol">dalsie bio</div> #}
		</div>
	</section>

	<section id="prihlaska" class="section apply">
		<div class="grid-x grid-padding-x">
			<div class="cell">
				<h2 class="apply__title section__title">Rozhodnuté? Prihlás sa! Najneskôr do {{ deadline }}</h2>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 medium-6">
				<p>Finálna skupinka bude pozostávať z max 18 účastníkov starších ako 18 rokov.</p>
				<p> 
					<strong>Termín kurzu</strong> je {{ date }} a <strong>náhradný termín</strong> {{ altdate }}. Kedže sa nám už stalo, že zima (či klimatické zmeny) s nami trochu vybabrali a my sme kurz museli zrušiť, tento rok pripravujeme zimný kurz s už aj náhradným termínom. To znamená, že celý tím je pripravený ísť do toho oba termíny a to by sme uvítali od každého prihláseného účastníka.
				</p>
				<div class="pricebox">
					<p class="no-margin">Poplatok za kurz je</p>
					<p class="pricebox__price">{{ price }} &euro;</p>
					<p>V cene máš teplú stravu na pobytovej časti a zapožičanie snežníc, hradíme z nej dopravu a nákup materiálu potrebného pre kurz a prenájom lokality. My, inštruktori, sme dobrovoľníci. Kurz je neziskový a poplatok nám pokrýva náklady. Ak je cena pre teba jedinou prekážkou v prihlásení, <a href="http://dotacia.plusko.net">požiadaj Plusko o dotáciu</a>.</p>
					
				</div>
			</div>
			<div class="cell small-12 medium-6">
				<p>Ak sa chceš prihlásiť:</p>
				<ol>
					<li>Do <strong>{{ deadline }}</strong> vyplň prihlášku s informáciami o sebe (link nižšie)</li>
					<li>Zaplať zálohu (inštrukcie v prihláške)</li>
					<li>Počkaj si na potvrdenie účasti - v prípade, že bude po ukončení prihlasovania viac prihlásených záujemcov ako miest na kurze, vyberieme finálnu skupinku a dáme ti vedieť</li>
				</ol>
				<a href="{{ formlink }}" title="Prihláška (nové okno)" class="button large expanded apply__cta" target="_blank">Vyplniť prihlášku</a>
				<p>Ak ti napadne akákoľvek otázka, ozvi sa Adi na <strong>{{ contactmail }}</strong> alebo {{ contactphone }}.</p>

				
			</div>
		</div>
	</section>

	{# <section class="section faq">
		<div class="grid-xy">
			<div class="cell">
				<h3>Tak si to zhrnme</h3>
				<p>faqs</p>
			</div>
		</div>
	</section> #}
</div>

<footer>
	
</footer>

{% endblock %}
